@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="form-row">
                    <div class="col-md-8">
                        <div class="mT-10">
                            <h4 class="c-mygrey-900 mB-20">Customer</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mT-10">
                            <div class="gap-5 peers" style="float:right;overflow: visible !important;">
                                <div class="peer">
                                    <button type="button" class="btn cur-p btn-outline-primary" id="btnNewCustomer" onclick="NewCustomer();">New</button>
                                </div>
                                <div class="peer">
                                    <span class="btn cur-p  btn-outline-primary" onclick="MakeCSV();">
                                        <i class='c-black-500 ti-download'></i>
                                    </span>
                                </div>
                                <div class="peer">
                                    <a class="btn cur-p btn-outline-primary" href='javascript:void(0);' onclick="reloadData();">
                                        <span class='icon-holder'>
                                            <i class='c-black-500 ti-reload'></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="peer">
                                    <a class="btn cur-p btn-outline-primary cd-filter-trigger" href='javascript:void(0);' onclick="openFilterpopupCust();">
                                        <span class='icon-holder'>
                                            <i class='c-black-500 ti-filter'></i>
                                        </span>
                                    </a>
                                    <div class="modal fade" id="filterModel" tabindex="-1" role="dialog" aria-labelledby="filterModelLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body filterModel">
                                                    <form id="filterbox">
                                                        <div class="form-group">
                                                            <label for="txtCustomerID">Customer ID</label>
                                                            <input type="text" class="form-control" id="txtCustomerID" aria-describedby="CustomerID" onkeypress="javascript:return isNumber(event)">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtResidentID">Resident ID</label>
                                                            <input type="text" class="form-control" id="txtResidentID" onkeypress="javascript:return isNumber(event)">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtName">Name</label>
                                                            <input type="text" class="form-control" id="txtName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtMobile">Mobile Phone</label>
                                                            <input type="text" class="form-control" id="txtMobile" onkeypress="javascript:return isNumber(event)">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtEmail">Email</label>
                                                            <input type="text" class="form-control" id="txtEmail">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtVRN">Registration Num (VRN)</label>
                                                            <input type="text" class="form-control" id="txtVRN">
                                                        </div>

                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" onclick="ResetFilter();" id="btnFilterCancel">Clear</button>
                                                    <button type="button" class="btn btn-outline-primary" onclick="FilteCustomerData()" id="btnFilterSearch">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tblCustomerData" class="table table-striped table-bordered table-condensed table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th id="tblCustomerDataTR" style="text-align: center; vertical-align: middle;">No</th>
                                <th style="text-align: center; vertical-align: middle;">Customer ID</th>
                                <th style="text-align: center; vertical-align: middle;">Resident ID</th>
                                <th style="text-align: center; vertical-align: middle;">Name</th>
                                <th style="text-align: center; vertical-align: middle;">Address</th>
                                <th style="text-align: center; vertical-align: middle;">Mobile</th>
                                <th style="text-align: center; vertical-align: middle;">Email</th>
                                <th class="no-rt-border"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-md" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8" style="text-align: center;">
                                <h5 class="modal-title" id="exampleModalLabel">Register Customer</h5>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="partialassociated">

                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/js/CustomerAccount.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery-ui.js"></script>
@*<script src="~/Scripts/jquery.mixitup.min.js"></script>
    <script src="~/Scripts/main.js"></script>*@
