@{
    ViewBag.Title = "Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="form-row">
                    <div class="col-md-8">
                        <div class="mT-10">
                            <h4 class="c-mygrey-900 mB-20">Vehicle</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mT-10">
                            <div class="gap-5 peers" style="float:right;overflow: visible !important;">
                                <div class="peer">
                                    <button type="button" class="btn cur-p btn-outline-primary" id="btnNewCustomer" onclick="NewCustomerVehicle();">New</button>
                                </div>
                                <div class="peer">
                                    <span class="btn cur-p  btn-outline-primary" onclick="MakeCSV();">
                                        <i class='c-black-500 ti-download'></i>
                                    </span>
                                </div>
                                <div class="peer">
                                    <a class="btn cur-p btn-outline-primary" href='javascript:void(0);' onclick="refreshData();">
                                        <span class='icon-holder'>
                                            <i class='c-black-500 ti-reload'></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="peer">
                                    <a class="btn cur-p btn-outline-primary cd-filter-trigger" href='javascript:void(0);' onclick="openFilterpopupCust();">
                                        <span class='icon-holder'>
                                            <i class='c-black-500 ti-filter'></i>
                                        </span>
                                    </a>
                                    <div class="modal fade" id="filterModel" tabindex="-1" role="dialog" aria-labelledby="filterModelLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body filterModel">
                                                    <form id="filterbox">
                                                        <div class="form-group">
                                                            <label for="txtCustomerID">Customer ID</label>
                                                            <input type="text" class="form-control" id="txtCustomerID" onkeypress = "javascript:return isNumber(event)">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtResidentID">Resident ID</label>
                                                            <input type="text" class="form-control" id="txtResidentID" onkeypress = "javascript:return isNumber(event)">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtName">Name</label>
                                                            <input type="text" class="form-control" id="txtName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtMobile">Mobile Phone</label>
                                                            <input type="text" class="form-control" id="txtMobile" onkeypress = "javascript:return isNumber(event)">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtEmail">Email</label>
                                                            <input type="text" class="form-control" id="txtEmail">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtVRCN">Certificate Num (VRCN)</label>
                                                            <input type="text" class="form-control" id="txtVRCN">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="txtVRN">Registration Num (VRN)</label>
                                                            <input type="text" class="form-control" id="txtVRN">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="VehicleClassId">Class</label>
                                                            @Html.DropDownList("ddlVehicleClassId", (IEnumerable<SelectListItem>)ViewBag.VehicleClassList, new { @class = "form-control", onchange = "GetTagId();" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="QueueStatus">Status</label>
                                                            @Html.DropDownList("ddlQueueStatus", (IEnumerable<SelectListItem>)ViewBag.QueueStatusList, new { @class = "form-control" })
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="ExceptionFlag">Exception</label>
                                                            @Html.DropDownList("ddlExceptionFlag", (IEnumerable<SelectListItem>)ViewBag.ExceptionFlagList, new { @class = "form-control" })
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" onclick="ResetFilter();" id="btnFilterCancel">Clear</button>
                                                    <button type="button" class="btn btn-outline-primary" onclick="FilteCustomerData()" id="btnFilterSearch">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tblCustomerVehicle" class="table table-striped  my-table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle; " rowspan="2" id="tblCustomerVehicleTR">
                                    No
                                </th>
                                <th style="text-align: center; vertical-align: middle; " rowspan="2">

                                    Vehicle ID
                                </th>
                                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">

                                    Registration Num
                                </th>
                                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">

                                    Class
                                </th>
                                <th style="text-align: center;" colspan="2">

                                    Image
                                </th>
                                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">

                                    Status
                                </th>
                                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">

                                    Exception
                                </th>
                                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">

                                    Balance
                                </th>
                                <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id" class="no-rt-border">
                                    <div class="th-inner sortable both"></div>
                                    <div class="fht-cell"></div>
                                </th>
                            </tr>
                            <tr>
                                <th style="text-align: center; " data-field="price">

                                    Front
                                </th>
                                <th style="text-align: center; " data-field="operate">

                                    Rear
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-md" id="VehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-8" style="text-align: center;">
                                <h5 class="modal-title" id="exampleModalLabel">Register Customer</h5>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="partialassociated">

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/CustomerVehicle.js"></script>
<script>
    $(document).ready(function () {
        CustomerAccountJson = @Html.Raw(Json.Encode(ViewData["CustomerAccount"]));
    });
</script>