<div class="modal-body" style="height:400px; overflow-y:scroll;">
    <table id="tblCustomerHistoryData" class="table table-striped  my-table-bordered table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Date Time</th>
                <th>Type</th>
                <th>VRN</th>
                <th>Class</th>
                <th>Gantry</th>
                <th class="no-rt-border">Amount</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


</div>
<script>
    $(document).ready(function () {
        BindHistoryRecords();
    });
</script>

