<table id="tblVehicleList" class="table table-striped  my-table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle; " rowspan="2">
                <div class="th-inner sortable both">No</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2">
                <div class="th-inner sortable both">Vehicle ID</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                <div class="th-inner sortable both">Registration Num</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                <div class="th-inner sortable both">Class</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center;" colspan="2">
                <div class="th-inner ">Image</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                <div class="th-inner ">Status</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id">
                <div class="th-inner ">Exception</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center; vertical-align: middle; " rowspan="2" data-field="id" class="no-rt-border">
                <div class="th-inner ">Balance</div>
                <div class="fht-cell"></div>
            </th>
        </tr>
        <tr>
            <th style="text-align: center; " data-field="price">
                <div class="th-inner sortable both">Front</div>
                <div class="fht-cell"></div>
            </th>
            <th style="text-align: center; " data-field="operate">
                <div class="th-inner sortable both">Rear</div>
                <div class="fht-cell"></div>
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    $(document).ready(function () {
        BindCustmerVehicleAccount();
    });
</script>