@*@model IEnumerable<VaaaN.MLFF.Libraries.CommonLibrary.CBE.RoleCBE>*@
@{
    ViewBag.Title = "Role List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="form-row">
                    <div class="col-md-8">
                        <div class="mT-10">
                            <h4 class="c-mygrey-900 mB-20">User Role</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mT-10">
                            <div class="gap-5 peers" style="float:right;overflow: visible !important;">
                                <div class="peer">
                                    <button type="button" class="btn cur-p btn-outline-primary" onclick="NewRoles();">New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="tblRolesData" class="table table-striped table-bordered table-condensed table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th id="tblRolesDataTR" style="text-align: center; vertical-align: middle;">No</th>
                            <th style="text-align:center; vertical-align: middle;">Role ID</th>
                            <th style="text-align:center; vertical-align: middle;">Role Name</th>
                            <th style="text-align:center; vertical-align: middle;">Is Active</th>
                            <th style="text-align:center; vertical-align: middle;" class="no-rt-border"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="~/js/SetUp.js"></script>
<script>
    $(document).ready(function () {
        RolesDataList = @Html.Raw(Json.Encode(ViewData["RolesDataList"]));
        BindRolesData(RolesDataList);
    });
</script>

