
@{
    ViewBag.Title = "CCTV Controller";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/css/Dashboard.css" rel="stylesheet" />
<script src="~/js/dashboard-main.js"></script>
<script src="~/js/dashboard-cctv.js"></script>
<style>
    #ItemCCTVDetail td {
        padding: 2px;
    }
</style>
<div id="AtccSection">
    @Html.Partial("_DashboardCCTV")
</div>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#Admin').removeClass('list-group-item list-group-item-info');
        $('#Admin').addClass("list-group-item list-group-item-info collapsed");

        $('#AdminsubMenu').removeClass('list-group-submenu in');
        $('#AdminsubMenu').addClass("list-group-submenu collapse");

        $('#divCctvSummary').attr('style', 'display:block;');
        $('#divCCTVDetail').attr('style', 'display:none;');
        // Change the Header of CCTV Popup
        $("#ui-id-1").text('CCTV Summary');
        // Display Initial CCTV devices
        GetCCTVDetail();
    });
</script>