
@{
    ViewBag.Title = "Ecb Controller";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/css/Dashboard.css" rel="stylesheet" />
<script src="~/js/dashboard-main.js"></script>
<script src="~/js/dashboard-ecb.js"></script>
<style>
    #ItemECBDetail td {
        padding: 2px;
    }
</style>
<div id="AtccSection">
    @Html.Partial("_DashboardECB")
</div>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#Admin').removeClass('list-group-item list-group-item-info');
        $('#Admin').addClass("list-group-item list-group-item-info collapsed");

        $('#AdminsubMenu').removeClass('list-group-submenu in');
        $('#AdminsubMenu').addClass("list-group-submenu collapse");

        $('#divECBSummary').attr('style', 'display:block;');
        $('#divECBCallMgt').attr('style', 'display:none;');
        $('#divECBCalAudit').attr('style', 'display:none;');

        // Change the Header of ECB Popup
        $("#ui-id-1").text('ECB Summary');

        // Initially show the ECB Summary Details 
        GetECBSummaryDetail();
    });
</script>