
@{
    ViewBag.Title = "Session expired";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#slctLanguage").hide();
    });
    

</script>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div id="sectionlogin">
            <div class="text-center">
                <span class="login-hd">!! Session Expired !!</span>
            </div>
            <div style="margin-top:30px;" class="text-center text-info">
                <p>Your Session has been expired !</p>
            </div>
            <div style="margin-top:30px;" class="text-center text-info">
                <p>Click <span class="btn-link"><strong><a  href="/home/homepage">here</a></strong></span> to login again</p>
            </div>
        </div>
    </div>
</div>