
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="container dynamicTile">
    <div class="row ">
        <div class="col-sm-3 col-xs-3">
            <div id="tile1" class="tile">
                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active text-center">
                            <div class="icontext">
                                Gantry 1
                            </div>
                            <div class="icontextsm">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-4 col-xs-4">
                                        motorcycle
                                    </div>
                                    <div class="col-sm-1 col-xs-1">
                                        :
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        10000
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-4 col-xs-4">
                                        small
                                    </div>
                                    <div class="col-sm-1 col-xs-1">
                                        :
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        10000
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-4 col-xs-4">
                                        medium
                                    </div>
                                    <div class="col-sm-1 col-xs-1">
                                        :
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        10000
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-4 col-xs-4">
                                        big
                                    </div>
                                    <div class="col-sm-1 col-xs-1">
                                        :
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        10000
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .dynamicTile .col-sm-2.col-xs-4 {
        padding: 5px;
    }

    .bigicon {
        font-size: 67px;
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .icontext {
        color: white;
        font-size: 22px;
    }

    .icontextsm {
        color: white;
        font-size: 14px;
    }

    .dynamicTile .col-sm-4.col-xs-8 {
        padding: 5px;
    }

    .tile {
        background: #7C91C7;
    }

        .tile:hover {
            background-color: rgba(3,3,3,0.5);
            color: white;
        }
</style>

<script type="text/javascript">
    //jQuery(function ($) {
    //    $(".tile").height($("#tile1").width());
    //    $(".carousel").height($("#tile1").width());
    //    $(".item").height($("#tile1").width());

    //    $(window).on('resize', function () {
    //        if (this.resizeTO) {
    //            clearTimeout(this.resizeTO);
    //        }
    //        this.resizeTO = setTimeout(function () {
    //            $(this).trigger('resizeEnd');
    //        }, 10);
    //    });

    //    $(window).on('resizeEnd', function () {
    //        $(".tile").height($("#tile1").width());
    //        $(".carousel").height($("#tile1").width());
    //        $(".item").height($("#tile1").width());
    //    });
    //});
</script>

