@{
    ViewBag.Title = "Live Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Scripts/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/js/liveEvents.js"></script>
<style>
    /*.main-content {
        padding: 10px 10px 10px !important;
    }*/
    .panel-default {
        border: 1px solid #d6d3d3;
    }

    .table-fixed {
        background-color: whitesmoke !important;
    }

        .table-fixed tbody {
            background-color: #fff !important;
        }

        .table-fixed thead {
            width: 97%;
        }

        .table-fixed tbody {
            height: 330px;
            overflow-y: auto;
            width: 100%;
        }

        .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
            display: flow-root;
        }

            .table-fixed tbody td, .table-fixed thead > tr > th {
                float: left;
                border-bottom-width: 0;
            }

    /*td {
      white-space: normal !important;
    }*/
</style>
<div class="container-fluid" style="overflow:hidden;">
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="form-row">
                    <div class="col-md-8">
                        <div class="mT-10">
                            <h4 class="c-mygrey-900 mB-20">Live Monitoring</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mT-10">
                            <div class="gap-5 peers" style="float:right;overflow: visible !important;">
                                <div class="peer">
                                    <div class="col-md-12">
                                        @Html.DropDownList("ddlGantry", (IEnumerable<SelectListItem>)ViewBag.Gantry, new { @class = "form-control", @onchange = "filterData()" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="panel panel-default">
                            <table class="table table-fixed" id="tblIKE">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:100%" colspan="4">
                                            RFID
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Date Time</th>
                                        <th class="col-md-2">Lane & Position</th>
                                        <th class="col-md-4">EPC</th>
                                        <th class="col-md-2">VRN</th>
                                        <th class="col-md-2">Class</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="panel panel-default">
                            <table class="table table-fixed" id="tblANPRFront">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:100%" colspan="4">
                                            Front ANPR
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="col-md-3">Date <br />Time</th>
                                        <th class="col-md-1">Lane</th>
                                        <th class="col-md-2">VRN</th>
                                        <th class="col-md-3">Class</th>
                                        <th class="col-md-3">Image</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="panel panel-default">
                            <table class="table table-fixed" id="tblANPRRear">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:100%" colspan="4">
                                            Rear ANPR
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="col-md-3">Date <br />Time</th>
                                        <th class="col-md-1">Lane</th>
                                        <th class="col-md-2">VRN</th>
                                        <th class="col-md-3">Class</th>
                                        <th class="col-md-3">Image</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>